@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.wrapper {
  margin-top: 3rem;
  
}

.input {
  border: 1px solid #ccc;
  display: block;
  width: 80%;
  font-size:1rem;
  padding:.8rem;
  border-radius: .4rem;
  background: #eee;
  transition: 0.2s;
  margin: 20px auto;
  text-align: center;
  
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea
}


.label {
  margin-top: 20px;
  text-align: center;
  display: block;
  font-size:1.5rem;
  line-height: 1;
  padding-bottom: .5rem;
  font-family: 'Akshar', sans-serif;
color: #764701; ;
}

.error {
  color: #f31;
  font-family: 'Akshar', sans-serif;
  font-size:1rem;
  margin-top: 1rem;
}