@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.container::before {
  display:block;
  content: "";
  background: url("../img/carro.jpg") no-repeat center center;
  background-size:cover;
}
.form {
  text-align: center;

}

.title {
  width: 100px;
  font-family:Akshar;
   text-transform: uppercase;
   font-size: 3rem;
   margin-top: 3rem;
   position: relative;
   margin: 0 auto;
}

.title::before {
  content: "";
  width:20px;
  height:20px;
  display: block;
  position: absolute;
  background: #fb1;
  border-radius: 4px;
  left:130px;
  bottom: 8px;
  z-index: -1;
}

@media(max-width: 40rem) {
  .container {
    grid-template-columns: 1fr;
  }
  .container::before {
    display: none
  }
}
