
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.menu,
.menuMobile {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Akshar', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menuMobile{
  padding: 1rem;
  justify-content: end;
}

.link {
  padding: 10px 10px;
  color: white;
  position: relative;
  text-align: center;
  
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  transition: 0.2s;
  
}

.link:hover{
  color: #fb5;
  transition: 0.2s;
  
}


.link:hover::after {
  color:#fb5;
  background: #fb5;

}

:global(.active) {
  color:  black;
  background: #fb5;

  border-radius: 4px;

}

.mobileButton {
  padding: 10px 10px;
  background: #fb5;
  color: black;
  position: relative;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: .2rem;
  align-items: center;
  display: flex;
  justify-content:center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor,  0 -6px currentColor;
  transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fb5;
  border-color: #fb1;
  color: #fb1;

}
.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor,  0 -8px currentColor;
}

.navMobile{
  display: block;
  position: absolute;
  font-family: 'Akshar', sans-serif;
  top: 51px;
  right: 0px;
  padding: 0 1rem;
  margin-right: 1px;
  background: rgba(0,0,0,1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: .3rem;
  transform: translateX(30px);
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.navMobile a,
.navMobile button {
  display:flex;
  align-items: center;
  background: none;
  width: 100%;
  color: white;
  border: none;
  padding: 1.2rem 0;
  cursor: point;
  font-size: 1rem;
  justify-items:center;
 text-transform: uppercase;
}

.navMobileActive{
  transition: .3s;
  transform: initial;
  opacity:1;
  z-index: 100;
  pointer-events: initial;
}

.navMobile .link::after {
  display: none;
}
@media(max-width:450px) {

  .menu {
    font-size: 1rem;

  }
  

}