
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.menu {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  font-family: 'Akshar', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.link {
  padding: 10px 10px;
  color: white;
  position: relative;
  text-align: center;
  
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  transition: 0.2s;
  
}

.link:hover{
  color: ccc;
  transition: 0.2s;
  
}


.link:hover::after {
  color:#fb5;
  background: #fb5;

}

:global(.active) {
  color:  black;
  background: #fb5;
}




@media(max-width:450px) {

  .menu {
    font-size: 1rem;

  }
  

}